body{
    background-image: url("doritosLookingChips.jpg");
}


.greeting{
    display: flex;
    color: black;
    justify-content: center;
    font-family: 'Baskervville', serif;
    font-family: 'La Belle Aurore', cursive;
    background-color:rgba(128, 128, 128, 0.9);
    width: auto;

}

.newgame{
    display: flex;
    margin: auto;
    box-shadow: 1px 1px;
    font-size: 30px;
}
.clear{
    display: flex;
    margin: auto;
    box-shadow: 1px 1px;
    font-size: 30px;
}

.playerTurn{
    display: flex;
    color: blue;
    font-size: 50px;
    justify-content: center;
    background-color: rgba(128, 128, 128, .9);
    
}


.container{
    display: flex;
    
}

.memes{
    display: flex;
    width: 25%;
    height: 20px;
}

.giphy-embed1{
    width: 75%;
    pointer-events: none;
    cursor: default;
}

.giphy-embed2{
    width: 90%;
    pointer-events: none;
    cursor: default;
}
.giphy-embed3{
    width: 60%;
    pointer-events: none;
    cursor: default;
}
.giphy-embed4{
    width: 60%;
    pointer-events: none;
    cursor: default;
}
.giphy-embed5{
    width: 60%;
    pointer-events: none;
    cursor: default;
}
.giphy-embed6{
    width: 90%;
    pointer-events: none;
    cursor: default;
}
.giphy-embed7{
    width: 75%;
    pointer-events: none;
    cursor: default;
}
.giphy-embed8{
    width: 100%;
    pointer-events: none;
    cursor: default;
}
.giphy-embed9{
    width: 75%;
    pointer-events: none;
    cursor: default;
}

.playArea{
    display: flex;
    border-radius: 10px;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 2px;
    height: auto;
    width: 500px;
    border: 1px solid rgba(128, 128, 128, 0.596);
    margin: auto;
    padding: 10px 10px 10px 10px;
    background-color: #efefef;
    box-shadow: 1px 1px;  
}
.info{
    display: flex;
    text-align: left;
    margin: auto;
    flex-direction:column;
    font-size: 20px;
    width: 200px;
    text-align: center;
    background-color: rgba(128, 128, 128, .9);
}

img{
    width: 100px;
    height: 100px;
}

.box1{
    display: flex;
    flex: 0 32%;
    height: 100px;
    margin-bottom: 2%;
    order: 0;
    justify-content: center;
    align-items: center;
    background-color: rgb(180, 180, 180);
    text-align: center;
    font-size: 100px;
    border: 1px solid;
    box-shadow: 1px 1px; 
    background-size: 100%;
    
}

.box2{
    display: flex;
    flex: 0 32%;
    height: 100px;
    margin-bottom: 2%;
    justify-content: center;
    align-items: center;
    background-color: rgb(180, 180, 180);
    text-align: center;
    font-size: 100px;
    border: 1px solid;
    box-shadow: 1px 1px; 
}
.box3{
    display: flex;
    flex: 0 32%;
    height: 100px;
    margin-bottom: 2%;
    justify-content: center;
    align-items: center;
    background-color: rgb(180, 180, 180);
    text-align: center;
    font-size: 100px;
    border: 1px solid;
    box-shadow: 1px 1px; 
}
.box4{
    display: flex;
    flex: 0 32%;
    height: 100px;
    margin-bottom: 2%;
    justify-content: center;
    align-items: center;
    background-color: rgb(180, 180, 180);
    text-align: center;
    font-size: 100px;
    border: 1px solid;
    box-shadow: 1px 1px; 
}
.box5{
    display: flex;
    flex: 0 32%;
    height: 100px;
    margin-bottom: 2%;
    justify-content: center;
    align-items: center;
    background-color: rgb(180, 180, 180);
    text-align: center;
    font-size: 100px;
    border: 1px solid;
    box-shadow: 1px 1px; 
}
.box6{
    display: flex;
    flex: 0 32%;
    height: 100px;
    margin-bottom: 2%;
    justify-content: center;
    align-items: center;
    background-color: rgb(180, 180, 180);
    text-align: center;
    font-size: 100px;
    border: 1px solid;
    box-shadow: 1px 1px; 
}
.box7{
    display: flex;
    flex: 0 32%;
    height: 100px;
    margin-bottom: 2%;
    justify-content: center;
    align-items: center;
    background-color: rgb(180, 180, 180);
    text-align: center;
    font-size: 100px;
    border: 1px solid;
    box-shadow: 1px 1px; 
}
.box8{
    display: flex;
    flex: 0 32%;
    height: 100px;
    margin-bottom: 2%;
    justify-content: center;
    align-items: center;
    background-color: rgb(180, 180, 180);
    text-align: center;
    font-size: 100px;
    border: 1px solid;
    box-shadow: 1px 1px; 
}
.box9{
    display: flex;
    flex: 0 32%;
    height: 100px;
    margin-bottom: 2%;
    justify-content: center;
    align-items: center;
    background-color: rgb(180, 180, 180);
    text-align: center;
    font-size: 100px;
    border: 1px solid;
    box-shadow: 1px 1px; 
}

.box1:hover{
    color: red;
    
}
.box2:hover{
    color: red;
    
}
.box3:hover{
    color: red;
    
}
.box4:hover{
    color: red;
    
}
.box5:hover{
    color: red;
    
}
.box6:hover{
    color: red;
    
}
.box7:hover{
    color: red;
    
}
.box8:hover{
    color: red;
    
}
.box9:hover{
    color: red;
    
}



@media screen and (max-width: 600px){
    .container{
        width: 100%;
    }
    .playArea{
        width: 50%;
        height: 50%;
    }
    .newgame{
        width: 50%;
    }
}
@media screen and (max-width: 400px){
    .playArea{
        width: 50%;
        height: 50%;
    }
    .newgame{
        width: 50%;
    }
    .box1{
        font-size: 20px;
        height: 50px;
        width: 50px;
    }
    .box2{
        font-size: 20px;
        height: 50px;
        width: 50px;
    }
    .box3{
        font-size: 20px;
        height: 50px;
        width: 50px;
    }
    .box4{
        font-size: 20px;
        height: 50px;
        width: 50px;
    }
    .box5{
        font-size: 20px;
        height: 50px;
        width: 50px;
    }
    .box6{
        font-size: 20px;
        height: 50px;
        width: 50px;
    }
    .box7{
        font-size: 20px;
        height: 50px;
        width: 50px;
    }
    .box8{
        font-size: 20px;
        height: 50px;
        width: 50px;
    }
    .box9{
        font-size: 20px;
        height: 50px;
        width: 50px;
    }
    .info{
        font-size: 10px;
        text-align: center;
        border: dotted 3px;
    }
    .newgame{
        font-size: 20px;
        height: 100px;
        padding-top: 20px;
    }
    .giphy-embed1{
        height: 100%;
        width: 100%;
    }
    .giphy-embed2{
        height: 100%;
        width: 100%;
    }
}